<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439000822974-m3p60bvh7up7q1drq6tdam8aual75d3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439000822974-m3p60bvh7up7q1drq6tdam8aual75d3i</string>
	<key>API_KEY</key>
	<string>AIzaSyDSegDgOsf09aD1cqEkQbfmPhqOAH7pveY</string>
	<key>GCM_SENDER_ID</key>
	<string>439000822974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.HPS-User</string>
	<key>PROJECT_ID</key>
	<string>home-poker-squad-hps</string>
	<key>STORAGE_BUCKET</key>
	<string>home-poker-squad-hps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439000822974:ios:462176f222e3913e</string>
	<key>DATABASE_URL</key>
	<string>https://home-poker-squad-hps.firebaseio.com</string>
</dict>
</plist>